
<footer class="mt-auto text-center border-t py-4">
  <p class="text-xl">This DB is a community effort, read pin in <strong>#et-db</strong> for "How to Contribute"</p>
  <p class="text-xl">Ping <strong>@detail</strong> in <strong>#et-db</strong> if you have any questions</p>
</footer>