<nav class="flex items-center border-b bg-white backdrop-blur justify-between flex-wrap p-6 fixed w-full z-10 top-0 text-slate-700" x-data="{ isOpen: false }" @keydown.escape="isOpen = false">
  <!--Logo etc-->
  <div class="flex items-center flex-shrink-0 mr-6">
    <a class="no-underline hover:text-sky-500 hover:no-underline" href="/">
    <span class="text-2xl">Eternal Tree DB</span>
    </a>
  </div>

  <!--Toggle button (hidden on large screens)-->
  <button @click.stop="isOpen = !isOpen" type="button" class="block lg:hidden px-2 text-slate-700 focus:outline-none focus:text-black" x-bind:class="{ 'transition transform-180': isOpen }">
    <svg class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path x-show="isOpen" fill-rule="evenodd" clip-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z" style="display: none;"></path>
      <path x-show="!isOpen" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
    </svg>
  </button>

  <!--Menu-->
  <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden" x-bind:class="{ 'block shadow-3xl': isOpen, 'hidden': !isOpen }" @click.outside="isOpen = false" x-transition>
    <ul class="pt-6 lg:pt-0 list-reset lg:flex justify-end flex-1 items-center">
      <li class="mr-3">
        <a class="inline-block no-underline hover:text-sky-500 hover:text-underline py-2 lg:px-4" href="/guides" @click="isOpen = false">Guides
        </a>
      </li>
      <li class="mr-3">
        <a class="inline-block no-underline hover:text-sky-500 hover:text-underline py-2 lg:px-4" href="/characters" @click="isOpen = false">Characters
        </a>
      </li>
      <li class="mr-3">
        <a class="inline-block no-underline hover:text-sky-500 hover:text-underline py-2 lg:px-4" href="/classes" @click="isOpen = false">Classes
        </a>
      </li>
    </ul>
  </div>
</nav>