{% macro skillEffect(effect) %} 
<div class="mb-2 last:mb-0">
  <div class="flex items-center mb-1">
    <img class="w-8 h-8 mr-3" src="{{effect.icon}}" alt="">
    <h3 class="text-base">{{effect.name}}</h3>
  </div>
  {% markdown effect.description %}
</div>
{% endmacro %}