---
pagination:
  data: characters
  size: 1
  alias: character
permalink: "characters/{{ character.name | slug }}/"
layout: base
---

<div class="container px-4 my-4 mx-auto">
	<h1 class="text-4xl text-center mb-4">{{character.name}}</h1>
	<div class="flex flex-wrap">
		<div class="w-full mb-4" x-data="{ imgSrc: '{{character.skins[0].skin.image}}'}">
			<img x-ref="galleryImage" x-bind:src="imgSrc" src="{{character.skins[0].skin.image}}" alt="">
			<div class="flex items-center mb-4">
				{% if character.skins|length %}
				{% for skin in character.skins %}
				<button type="button"
					class="w-full border-l border-t border-b text-base font-medium rounded-l-md text-black bg-white hover:bg-gray-100 px-4 py-2"
					x-on:click="imgSrc = '{{skin.skin.image}}'">{{skin.skin.name}}</button>
				{% endfor %}
				{% endif %}
			</div>
		</div>
		<div>
		</div>
		<section class="w-full mb-8 md:w-1/2 md:px-5  lg:w-1/3 lg:px-10">
			<h2 class="text-2xl mb-6">Resonance</h2>
			{% for resonance in character.resonances %}
			<div class="mb-6 pb-4 border-b-2 last:mb-0">
				<div class="flex items-center mb-4">
					<img class="w-14 h-14 mr-4" src="{{resonance.resonance.icon}}" alt="">
					<h3 class="text-xl">{{resonance.resonance.name}}</h3>
				</div>
				<div class="">
					{% markdown resonance.resonance.description %}
					{% if resonance.resonance.effects | length %}
					<div class="ml-6 mt-4">
						<h4 class="text-lg mb-2">Resonance Effects</h4>
						{% for effect in resonance.resonance.effects %}
						<div class="mb-2 last:mb-0">
							<div class="flex items-center mb-1">
								<img class="w-8 h-8 mr-3" src="{{effect.effect.icon}}" alt="">
								<h3 class="text-base">{{effect.effect.name}}</h3>
							</div>
							{% markdown effect.effect.description %}
						</div>
						{% endfor %}
					</div>
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</section>
		<section class="w-full md:w-1/2 md:px-5 lg:w-1/3 lg:px-10">
			<h2 class="text-2xl mb-6">Skills</h2>
			{% for skill in character.skills %}
			<div class="mb-6 pb-4 border-b-2">
				<div class="flex items-center mb-4">
					<img class="w-14 h-14 mr-4" src="{{skill.skill.icon}}" alt="">
					<h3 class="text-xl">{{skill.skill.name}}</h3>
				</div>
				{% markdown skill.skill.description %}
				{% if skill.skill.effects | length %}
				<div class="ml-6 mt-4">
					<h4 class="text-lg mb-2">Skill Effects</h4>
					{% for effect in skill.skill.effects %}
					<div class="mb-2 last:mb-0">
						<div class="flex items-center mb-1">
							<img class="w-8 h-8 mr-3" src="{{effect.effect.icon}}" alt="">
							<h3 class="text-base">{{effect.effect.name}}</h3>
						</div>
						{% markdown effect.effect.description %}
					</div>
					{% endfor %}
				</div>
				{% endif %}
			</div>
			{% endfor %}
		</section>
		<section class="w-full md:w-1/2 md:px-5 lg:w-1/3 lg:px-10">
			<h2 class="text-2xl mb-6">Passives</h2>
			{% for passive in character.passives %}
			<div class="mb-6 pb-4 border-b-2">
				<div class="flex items-center mb-4">
					{% if passive.passive.type == 'Normal' %}
					<img class="w-14 h-14 mr-4" src="/assets/img/passive-normal.png" alt="">
					{% else %}
					<img class="w-14 h-14 mr-4" src="/assets/img/passive-synchro.png" alt="">
					{% endif %}
					<h3 class="text-xl">{{passive.passive.name}}</h3>
				</div>
				{% markdown passive.passive.description %}
			</div>
			{% endfor %}
		</section>
	</div>
</div>