---
pagination:
  data: characters
  size: 1
  alias: character
permalink: "characters/{{ character.name | slug }}/"
layout: base
---

<div class="container px-4 my-4 mx-auto">
	<h1 class="text-4xl text-center mb-4">{{character.name}}</h1>
	<div class="flex flex-wrap">
		<div class="w-full mb-4" x-data="{ imgSrc: '{{character.skins[0].skin.image}}'}">
			<img x-ref="galleryImage" x-bind:src="imgSrc" src="{{character.skins[0].skin.image}}" alt="">
			<div class="flex items-center mb-4">
				{% if character.skins|length %}
				{% for skin in character.skins %}
				<button type="button"
					class="w-full border-l border-t border-b text-base font-medium rounded-l-md text-black bg-white hover:bg-gray-100 px-4 py-2"
					x-on:click="imgSrc = '{{skin.skin.image}}'">{{skin.skin.name}}</button>
				{% endfor %}
				{% endif %}
			</div>
		</div>
		<div>
		</div>
		<div class="w-full">
			<section>
				<h2 class="text-2xl mb-4">Resonance</h2>
				{% for resonance in character.resonances %}
				<div>
					<div class="flex items-center mb-2">
						<img class="w-14 h-14 mr-4" src="{{resonance.resonance.icon}}" alt="">
						<h3 class="text-xl">{{resonance.resonance.name}}</h3>
					</div>
					{% markdown resonance.resonance.description %}
				</div>
				{% endfor %}
			</section>

		</div>
	</div>
</div>