---
layout: base
title: Eternal Tree Database | Classes
---
<div class="container mx-auto">
  <section class="p-4 " x-data="classesFilter">
    <nav class="mb-8 max-w-2xl mx-auto">
      <div class="relative">
        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
        </div>
        <input x-model="search" type="text" class="border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5" placeholder="Search" required>
      </div>
    </nav>
    <ul class="flex flex-wrap text-center justify-center mx-auto">
      <template x-for="mcClass in filteredClasses">
        <li class="w-20 grow-0 m-1 overflow-hidden transition ease-in-out hover:scale-125">
          <a class="flex flex-col w-20 h-32 border" :href="mcClass.permalink">
            <div class="bg-white">
              <img class="object-cover h-20 w-20" :src="mcClass.avatar" :alt="mcClass.name">
            </div>
            <p class="text-xs p-1 my-auto" x-text="mcClass.name"></p>
          </a>
        </li>
      </template>
    </ul>
  </section>
  <div>

<script>
  const classes = [
    {%- for class in classes -%}
    { permalink: '/classes/{{class.name |slugify}}', class: {{class | dump | safe }}},
    {%- endfor -%}
  ].map(mcClass => {
    return {permalink: mcClass.permalink, ...mcClass.class}
  })

  document.addEventListener('alpine:init', () => {
    Alpine.data('classesFilter', ()=> ({
      search: '',
      classes: classes,
      get filteredClasses() {
        let filtered = this.classes
        if (this.search) {
          filtered = filtered.filter(mcClass => {
            return mcClass.name.toLowerCase().includes(this.search.toLowerCase())
          })
        }
        return filtered
      },
    }))
  })
</script>