---
layout: base
title: Eternal Tree Database
---

<div class="container mx-auto flex flex-col justify-center items-center">
  <a class="text-2xl text-sky-500" href="/guides">To Guides page</a>
  <a class="text-2xl text-sky-500" href="/characters">To Characters page</a>
  <a class="text-2xl text-sky-500" href="/classes">To Classes page</a>
</div>